<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="sign-up">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <%= f.text_field :username, autocomplete: "off", autofocus: true, placeholder: "Username", class: "form-control" %><br />
                    <%= f.email_field :email, placeholder: "Email", class: "form-control" %><br />
                    <% if @validatable %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %><br />
                    <%= f.submit "Sign up", class: "btn btn-primary pull-right" %>
                <% end %>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <%= render "devise/shared/links" %>
</div>
