<!DOCTYPE html>
<html lang-"en">
<head>
  <title>QHouse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="navbar-margin">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/"><%= image_tag("logo.png") %></a>
              </div>
                <ul class="nav navbar-nav navbar-right">

                    <% if user_signed_in? %>
                    <li><a>Hi, <%= current_user.username %>!</a></li>
                    <% else %>
                    <!-- <li><a href="#">Sign Up!</a></li> -->
                        <li><%= link_to "Sign Up!", new_user_registration_path %></li>
                    <% end %>

                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                  </ul>
                  </li>
                </ul>
            </div>
        </nav>
    </div>


<%= yield %>

</body>
</html>
